## Importación y cambio de nombre de las columnas

In [42]:
import pandas as pd
filename='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/CalIt2.data.csv'
df=pd.read_csv(filename,sep=';',names=['ID_Flujo','Fecha','Hora','Conteo'])
df

       ID_Flujo     Fecha      Hora  Conteo
0           7.0  07/24/05  00:00:00     0.0
1           9.0  07/24/05  00:00:00     0.0
2           7.0  07/24/05  00:30:00     1.0
3           9.0  07/24/05  00:30:00     0.0
4           7.0  07/24/05  01:00:00     0.0
...         ...       ...       ...     ...
10077       9.0  11/05/05  22:30:00     0.0
10078       7.0  11/05/05  23:00:00     0.0
10079       9.0  11/05/05  23:00:00     0.0
10080       7.0  11/05/05  23:30:00     1.0
10081       9.0  11/05/05  23:30:00     0.0

[10082 rows x 4 columns]

## Seleccionando datos

In [58]:
#1
ID_filtrado=df['ID_Flujo']==7
Fecha_filtrada=df['Fecha']=='07/24/05'
df2=df.loc[Fecha_filtrada & ID_filtrado, :]
df2

    ID_Flujo     Fecha      Hora  Conteo
0        7.0  07/24/05  00:00:00     0.0
2        7.0  07/24/05  00:30:00     1.0
4        7.0  07/24/05  01:00:00     0.0
6        7.0  07/24/05  01:30:00     0.0
8        7.0  07/24/05  02:00:00     0.0
10       7.0  07/24/05  02:30:00     2.0
12       7.0  07/24/05  03:00:00     0.0
14       7.0  07/24/05  03:30:00     0.0
16       7.0  07/24/05  04:00:00     0.0
18       7.0  07/24/05  04:30:00     0.0
20       7.0  07/24/05  05:00:00     0.0
22       7.0  07/24/05  05:30:00     0.0
24       7.0  07/24/05  06:00:00     0.0
26       7.0  07/24/05  06:30:00     0.0
28       7.0  07/24/05  07:00:00     0.0
30       7.0  07/24/05  07:30:00     2.0
32       7.0  07/24/05  08:00:00     0.0
34       7.0  07/24/05  08:30:00     0.0
36       7.0  07/24/05  09:00:00     0.0
38       7.0  07/24/05  09:30:00     1.0
40       7.0  07/24/05  10:00:00     0.0
42       7.0  07/24/05  10:30:00     0.0
44       7.0  07/24/05  11:00:00     1.0
46       7.0  07/24/05  11:30:00     0.0
48       7.0  07/24/05  12:00:00     0.0
50       7.0  07/24/05  12:30:00     0.0
52       7.0  07/24/05  13:00:00     0.0
54       7.0  07/24/05  13:30:00     0.0
56       7.0  07/24/05  14:00:00     0.0
58       7.0  07/24/05  14:30:00     0.0
60       7.0  07/24/05  15:00:00     0.0
62       7.0  07/24/05  15:30:00     0.0
64       7.0  07/24/05  16:00:00     0.0
66       7.0  07/24/05  16:30:00     0.0
68       7.0  07/24/05  17:00:00     1.0
70       7.0  07/24/05  17:30:00     2.0
72       7.0  07/24/05  18:00:00     4.0
74       7.0  07/24/05  18:30:00     1.0
76       7.0  07/24/05  19:00:00     2.0
78       7.0  07/24/05  19:30:00     1.0
80       7.0  07/24/05  20:00:00     0.0
82       7.0  07/24/05  20:30:00     0.0
84       7.0  07/24/05  21:00:00     3.0
86       7.0  07/24/05  21:30:00     2.0
88       7.0  07/24/05  22:00:00     0.0
90       7.0  07/24/05  22:30:00     0.0
92       7.0  07/24/05  23:00:00     2.0
94       7.0  07/24/05  23:30:00     0.0

In [46]:
#2
df3=df2['Conteo']
df3=df3.sort_values(ascending=False)
TOP10=df3.head(10)

In [48]:
TOP10

72    4.0
84    3.0
76    2.0
92    2.0
30    2.0
10    2.0
86    2.0
70    2.0
68    1.0
74    1.0
Name: Conteo, dtype: float64

In [47]:
TOP10.apply(lambda num: num-TOP10.min()).mean()

1.1

## GroupBy

In [55]:

df_gropby=df.loc[(df['ID_Flujo']==7)& ( df['Fecha']>'07/31/05') & (df['Fecha']<'09/01/05') , :]
df_gropby

      ID_Flujo     Fecha      Hora  Conteo
768        7.0  08/01/05  00:00:00     1.0
770        7.0  08/01/05  00:30:00     0.0
772        7.0  08/01/05  01:00:00     0.0
774        7.0  08/01/05  01:30:00     0.0
776        7.0  08/01/05  02:00:00     0.0
...        ...       ...       ...     ...
3734       7.0  08/31/05  21:30:00     0.0
3736       7.0  08/31/05  22:00:00     2.0
3738       7.0  08/31/05  22:30:00     1.0
3740       7.0  08/31/05  23:00:00     0.0
3742       7.0  08/31/05  23:30:00     2.0

[1488 rows x 4 columns]

In [57]:
df_gropby.groupby(['Fecha']).max()

          ID_Flujo      Hora  Conteo
Fecha
08/01/05       7.0  23:30:00    18.0
08/02/05       7.0  23:30:00    16.0
08/03/05       7.0  23:30:00    26.0
08/04/05       7.0  23:30:00    40.0
08/05/05       7.0  23:30:00    17.0
08/06/05       7.0  23:30:00     8.0
08/07/05       7.0  23:30:00     3.0
08/08/05       7.0  23:30:00    16.0
08/09/05       7.0  23:30:00    19.0
08/10/05       7.0  23:30:00    25.0
08/11/05       7.0  23:30:00    16.0
08/12/05       7.0  23:30:00    21.0
08/13/05       7.0  23:30:00     5.0
08/14/05       7.0  23:30:00     3.0
08/15/05       7.0  23:30:00    17.0
08/16/05       7.0  23:30:00    24.0
08/17/05       7.0  23:30:00    22.0
08/18/05       7.0  23:30:00    39.0
08/19/05       7.0  23:30:00    23.0
08/20/05       7.0  23:30:00     3.0
08/21/05       7.0  23:30:00     4.0
08/22/05       7.0  23:30:00    23.0
08/23/05       7.0  23:30:00    25.0
08/24/05       7.0  23:30:00    17.0
08/25/05       7.0  23:30:00    24.0
08/26/05       7.0  23:30:00    22.0
08/27/05       7.0  23:30:00     3.0
08/28/05       7.0  23:30:00     7.0
08/29/05       7.0  23:30:00    15.0
08/30/05       7.0  23:30:00    47.0
08/31/05       7.0  23:30:00    19.0