In [3]:
import pandas as pd

In [65]:
filename='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/202103-divvy-tripdata_new.csv'
dt1=pd.read_csv(filename)

In [5]:
filename1='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/202104-divvy-tripdata_new.csv'
dt2=pd.read_csv(filename1)

In [ ]:
filename2=''
dt3=pd.read_csv(filename2)

primeras impresiones de los dataset

In [38]:
dt1.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week_start,day_of_week_end,mode
0,CFA86D4455AA1030,classic_bike,16/03/2021 08:32,16/03/2021 08:36,Humboldt Blvd & Armitage Ave,15651,Stave St & Armitage Ave,13266,41.917513,-87.701809,41.917741,-87.691392,casual,00:04:04,3,3,7.0
1,30D9DC61227D1AF3,classic_bike,28/03/2021 01:26,28/03/2021 01:36,Humboldt Blvd & Armitage Ave,15651,Central Park Ave & Bloomingdale Ave,18017,41.917513,-87.701809,41.914166,-87.716755,casual,00:10:27,1,1,NaN
2,846D87A15682A284,classic_bike,11/03/2021 21:17,11/03/2021 21:33,Shields Ave & 28th Pl,15443,Halsted St & 35th St,TA1308000043,41.842733,-87.635491,41.830661,-87.647172,casual,00:16:24,5,5,NaN
3,994D05AA75A168F2,classic_bike,11/03/2021 13:26,11/03/2021 13:55,Winthrop Ave & Lawrence Ave,TA1308000021,Broadway & Sheridan Rd,13323,41.968812,-87.657659,41.952833,-87.649993,casual,00:28:59,5,5,NaN
4,DF7464FBE92D8308,classic_bike,21/03/2021 09:09,21/03/2021 09:27,Glenwood Ave & Touhy Ave,525,Chicago Ave & Sheridan Rd,E008,42.012701,-87.666058,42.050491,-87.677821,casual,00:17:56,1,1,NaN
5,CEBA8516FD17F8D8,classic_bike,20/03/2021 11:08,20/03/2021 11:29,Glenwood Ave & Touhy Ave,525,Chicago Ave & Sheridan Rd,E008,42.012701,-87.666058,42.050491,-87.677821,casual,00:20:52,7,7,NaN
6,297268586B79588B,classic_bike,20/03/2021 14:10,20/03/2021 14:22,State St & Kinzie St,13050,Lake Shore Dr & North Blvd,LF-005,41.889187,-87.627754,41.911722,-87.626804,member,00:11:32,7,7,NaN
7,F39301858B6077DD,electric_bike,23/03/2021 07:56,23/03/2021 08:05,Shore Dr & 55th St,TA1308000009,Ellis Ave & 60th St,KA1503000014,41.795230,-87.580828,41.785218,-87.601083,member,00:08:59,3,3,NaN
8,D297F199D875BABE,electric_bike,31/03/2021 15:31,31/03/2021 15:35,Clinton St & Lake St,13021,Franklin St & Jackson Blvd,TA1305000025,41.885552,-87.641727,41.877287,-87.636155,member,00:04:39,4,4,NaN
9,36B877141175ED7E,classic_bike,11/03/2021 17:37,11/03/2021 17:52,Michigan Ave & Lake St,TA1305000011,Racine Ave & Washington Blvd,654,41.886024,-87.624117,41.883073,-87.656952,member,00:15:07,5,5,NaN

In [7]:
dt2.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week_start,day_of_week_end
0,6C992BD37A98A63F,classic_bike,12/04/2021 18:25,12/04/2021 18:56,State St & Pearson St,TA1307000061,Southport Ave & Waveland Ave,13235,41.897448,-87.628722,41.948150,-87.663940,member,00:31:19,2,2
1,1E0145613A209000,docked_bike,27/04/2021 17:27,27/04/2021 18:31,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805772,-87.592464,41.805772,-87.592464,casual,01:04:18,3,3
2,E498E15508A80BAD,docked_bike,03/04/2021 12:42,07/04/2021 11:40,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,22:57:39,7,4
3,1887262AD101C604,classic_bike,17/04/2021 09:17,17/04/2021 09:42,Honore St & Division St,TA1305000034,Southport Ave & Waveland Ave,13235,41.903119,-87.673935,41.948150,-87.663940,member,00:25:06,7,7
4,C123548CAB2A32A5,docked_bike,03/04/2021 12:42,03/04/2021 14:13,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,01:31:17,7,7
5,097E76F3651B1AC1,classic_bike,25/04/2021 18:43,25/04/2021 18:43,Clinton St & Polk St,15542,Clinton St & Polk St,15542,41.871467,-87.640949,41.871467,-87.640949,casual,00:00:41,1,1
6,53C38EB01E6FA5C4,classic_bike,03/04/2021 16:28,03/04/2021 16:29,Ashland Ave & 63rd St,16948,Ashland Ave & 63rd St,16948,41.779374,-87.664843,41.779374,-87.664843,casual,00:01:26,7,7
7,D53AC014EFD6E2BA,electric_bike,06/04/2021 16:35,06/04/2021 17:00,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805832,-87.592478,41.805803,-87.592662,casual,00:25:50,3,3
8,6E2F7CA1FA9E0AFB,classic_bike,12/04/2021 15:22,12/04/2021 16:15,Ashland Ave & 63rd St,16948,Ashland Ave & 63rd St,16948,41.779374,-87.664843,41.779374,-87.664843,casual,00:52:54,2,2
9,04218447AAC80BD1,classic_bike,24/04/2021 15:04,24/04/2021 15:06,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805772,-87.592464,41.805772,-87.592464,casual,00:01:21,7,7

In [8]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228496 entries, 0 to 228495
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             228496 non-null  object
 1   rideable_type       228496 non-null  object
 2   started_at          228496 non-null  object
 3   ended_at            228496 non-null  object
 4   start_station_name  213648 non-null  object
 5   start_station_id    213648 non-null  object
 6   end_station_name    211769 non-null  object
 7   end_station_id      211769 non-null  object
 8   start_lat           228496 non-null  float64
 9   start_lng           228496 non-null  float64
 10  end_lat             228329 non-null  float64
 11  end_lng             228329 non-null  float64
 12  member_casual       228496 non-null  object
 13  ride_length         228496 non-null  object
 14  day_of_week_start   228496 non-null  int64
 15  day_of_week_end     228496 non-null  int64
 16  mode                1 non-null       float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.6+ MB

In [9]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337230 entries, 0 to 337229
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             337230 non-null  object
 1   rideable_type       337230 non-null  object
 2   started_at          337230 non-null  object
 3   ended_at            337230 non-null  object
 4   start_station_name  311174 non-null  object
 5   start_station_id    311174 non-null  object
 6   end_station_name    309056 non-null  object
 7   end_station_id      309056 non-null  object
 8   start_lat           337230 non-null  float64
 9   start_lng           337230 non-null  float64
 10  end_lat             336963 non-null  float64
 11  end_lng             336963 non-null  float64
 12  member_casual       337230 non-null  object
 13  ride_length         337230 non-null  object
 14  day_of_week_start   337230 non-null  int64
 15  day_of_week_end     337230 non-null  int64
dtypes: float64(4), int64(2), object(10)
memory usage: 41.2+ MB

Revisando por tipo de bicicleta, porcentaje del total

In [23]:
dt1.groupby(['rideable_type'])[['rideable_type']].count()/dt1['rideable_type'].count()*100

               rideable_type
rideable_type
classic_bike       66.760468
docked_bike         6.852199
electric_bike      26.387333

In [24]:
dt2.groupby(['rideable_type'])[['rideable_type']].count()/dt2['rideable_type'].count()*100

               rideable_type
rideable_type
classic_bike       63.641728
docked_bike         7.328529
electric_bike      29.029742

reemplazando nulos

In [34]:
for i in dt1:
    NaN=dt1[i].isna().sum()
    print(i,NaN)

ride_id 0
rideable_type 0
started_at 0
ended_at 0
start_station_name 14848
start_station_id 14848
end_station_name 16727
end_station_id 16727
start_lat 0
start_lng 0
end_lat 167
end_lng 167
member_casual 0
ride_length 0
day_of_week_start 0
day_of_week_end 0
mode 228495

In [27]:
for i in dt1:
    NaN=dt2[i].isna().sum()
    print(i,NaN)

ride_id 0
rideable_type 0
started_at 0
ended_at 0
start_station_name 26056
start_station_id 26056
end_station_name 28174
end_station_id 28174
start_lat 0
start_lng 0
end_lat 267
end_lng 267
member_casual 0
ride_length 0
day_of_week_start 0
day_of_week_end 0

KeyError: 'mode'

Tratando NaN

In [40]:
#para dt1
for i in dt1:
    print(i,dt1[i].isna().sum() )

ride_id 0
rideable_type 0
started_at 0
ended_at 0
start_station_name 14848
start_station_id 14848
end_station_name 16727
end_station_id 16727
start_lat 0
start_lng 0
end_lat 167
end_lng 167
member_casual 0
ride_length 0
day_of_week_start 0
day_of_week_end 0
mode 228495

In [66]:
dt_prueba=dt1

In [43]:
dt_prueba['start_station_name'].dropna()

0         Humboldt Blvd & Armitage Ave
1         Humboldt Blvd & Armitage Ave
2                Shields Ave & 28th Pl
3          Winthrop Ave & Lawrence Ave
4             Glenwood Ave & Touhy Ave
                      ...
228490      Larrabee St & Armitage Ave
228491           Michigan Ave & Oak St
228492        Kingsbury St & Kinzie St
228493           Michigan Ave & Oak St
228494        Kingsbury St & Kinzie St
Name: start_station_name, Length: 213648, dtype: object

In [59]:
del dt_prueba['mode']
dt_prueba

KeyError: 'mode'

In [67]:
dt_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228496 entries, 0 to 228495
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             228496 non-null  object
 1   rideable_type       228496 non-null  object
 2   started_at          228496 non-null  object
 3   ended_at            228496 non-null  object
 4   start_station_name  213648 non-null  object
 5   start_station_id    213648 non-null  object
 6   end_station_name    211769 non-null  object
 7   end_station_id      211769 non-null  object
 8   start_lat           228496 non-null  float64
 9   start_lng           228496 non-null  float64
 10  end_lat             228329 non-null  float64
 11  end_lng             228329 non-null  float64
 12  member_casual       228496 non-null  object
 13  ride_length         228496 non-null  object
 14  day_of_week_start   228496 non-null  int64
 15  day_of_week_end     228496 non-null  int64
 16  mode                1 non-null       float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.6+ MB

In [68]:
dt_prueba['start_station_name']=dt_prueba.loc[: ,'start_station_name'].fillna(value='No informado')

In [69]:
dt_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228496 entries, 0 to 228495
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             228496 non-null  object
 1   rideable_type       228496 non-null  object
 2   started_at          228496 non-null  object
 3   ended_at            228496 non-null  object
 4   start_station_name  228496 non-null  object
 5   start_station_id    213648 non-null  object
 6   end_station_name    211769 non-null  object
 7   end_station_id      211769 non-null  object
 8   start_lat           228496 non-null  float64
 9   start_lng           228496 non-null  float64
 10  end_lat             228329 non-null  float64
 11  end_lng             228329 non-null  float64
 12  member_casual       228496 non-null  object
 13  ride_length         228496 non-null  object
 14  day_of_week_start   228496 non-null  int64
 15  day_of_week_end     228496 non-null  int64
 16  mode                1 non-null       float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.6+ MB

In [70]:
dt_prueba

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week_start,day_of_week_end,mode
0,CFA86D4455AA1030,classic_bike,16/03/2021 08:32,16/03/2021 08:36,Humboldt Blvd & Armitage Ave,15651,Stave St & Armitage Ave,13266,41.917513,-87.701809,41.917741,-87.691392,casual,00:04:04,3,3,7.0
1,30D9DC61227D1AF3,classic_bike,28/03/2021 01:26,28/03/2021 01:36,Humboldt Blvd & Armitage Ave,15651,Central Park Ave & Bloomingdale Ave,18017,41.917513,-87.701809,41.914166,-87.716755,casual,00:10:27,1,1,NaN
2,846D87A15682A284,classic_bike,11/03/2021 21:17,11/03/2021 21:33,Shields Ave & 28th Pl,15443,Halsted St & 35th St,TA1308000043,41.842733,-87.635491,41.830661,-87.647172,casual,00:16:24,5,5,NaN
3,994D05AA75A168F2,classic_bike,11/03/2021 13:26,11/03/2021 13:55,Winthrop Ave & Lawrence Ave,TA1308000021,Broadway & Sheridan Rd,13323,41.968812,-87.657659,41.952833,-87.649993,casual,00:28:59,5,5,NaN
4,DF7464FBE92D8308,classic_bike,21/03/2021 09:09,21/03/2021 09:27,Glenwood Ave & Touhy Ave,525,Chicago Ave & Sheridan Rd,E008,42.012701,-87.666058,42.050491,-87.677821,casual,00:17:56,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228491,9397BDD14798A1BA,docked_bike,20/03/2021 14:58,20/03/2021 17:22,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,02:23:51,7,7,NaN
228492,BBBEB8D51AAD40DA,classic_bike,02/03/2021 11:35,02/03/2021 11:43,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,00:08:27,3,3,NaN
228493,637FF754DA0BD9E1,classic_bike,09/03/2021 11:07,09/03/2021 11:49,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,00:41:35,3,3,NaN
228494,F8F43A0B978A7A35,classic_bike,01/03/2021 18:11,01/03/2021 18:18,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,00:06:40,2,2,NaN
228495,3AE64EA5BF43CF72,electric_bike,26/03/2021 17:58,26/03/2021 18:06,No informado,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,00:08:29,6,6,NaN

In [78]:
dt_prueba.groupby(['rideable_type','member_casual'])[['ride_id']].count()

                             ride_id
rideable_type member_casual
classic_bike  casual           45528
              member          107017
docked_bike   casual           15657
electric_bike casual           22848
              member           37446

In [41]:
#para dt2
for i in dt2:
    print(i,dt2[i].isna().sum() )

ride_id 0
rideable_type 0
started_at 0
ended_at 0
start_station_name 26056
start_station_id 26056
end_station_name 28174
end_station_id 28174
start_lat 0
start_lng 0
end_lat 267
end_lng 267
member_casual 0
ride_length 0
day_of_week_start 0
day_of_week_end 0

In [79]:
dt2_prueba=dt2

In [81]:
dt2_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337230 entries, 0 to 337229
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             337230 non-null  object
 1   rideable_type       337230 non-null  object
 2   started_at          337230 non-null  object
 3   ended_at            337230 non-null  object
 4   start_station_name  311174 non-null  object
 5   start_station_id    311174 non-null  object
 6   end_station_name    309056 non-null  object
 7   end_station_id      309056 non-null  object
 8   start_lat           337230 non-null  float64
 9   start_lng           337230 non-null  float64
 10  end_lat             336963 non-null  float64
 11  end_lng             336963 non-null  float64
 12  member_casual       337230 non-null  object
 13  ride_length         337230 non-null  object
 14  day_of_week_start   337230 non-null  int64
 15  day_of_week_end     337230 non-null  int64
dtypes: float64(4), int64(2), object(10)
memory usage: 41.2+ MB

In [82]:
dt2_prueba.groupby(['rideable_type'])[['ride_id']].count()/dt2_prueba['rideable_type'].count()

                ride_id
rideable_type
classic_bike   0.636417
docked_bike    0.073285
electric_bike  0.290297

---

# Con el de superstore

In [90]:
filename3="/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/superstore.csv"
dt_superstore=pd.read_csv(filename3)
dt_superstore

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2928,2929,US-2017-120390,10/19/2017,10/26/2017,Standard Class,TH-21550,Tracy Hopkins,Home Office,United States,Burlington,...,27217,South,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,1633.1880,4,0.70,-1306.5504
2929,2930,CA-2017-143434,11/18/2017,11/24/2017,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Saginaw,...,48601,Central,FUR-FU-10002597,Furniture,Furnishings,"C-Line Magnetic Cubicle Keepers, Clear Polypro...",19.7600,4,0.00,8.2992
2930,2931,CA-2015-168564,8/8/2015,8/8/2015,Same Day,TT-21220,Thomas Thornton,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10004970,Office Supplies,Binders,"ACCOHIDE 3-Ring Binder, Blue, 1""",6.6080,2,0.20,2.2302
2931,2932,CA-2015-168564,8/8/2015,8/8/2015,Same Day,TT-21220,Thomas Thornton,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10002557,Office Supplies,Binders,Presstex Flexible Ring Binders,7.2800,2,0.20,2.7300
2932,2933,CA-2015-168564,8/8/2015,8/8/2015,Same Day,TT-21220,Thomas Thornton,Consumer,United States,San Francisco,...,94109,West,FUR-CH-10000785,Furniture,Chairs,Global Ergonomic Managers Chair,144.7840,1,0.20,10.8588

In [91]:
dummie=pd.get_dummies(data=dt_superstore, columns = ["Segment"])
dummie.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Segment_Consumer,Segment_Corporate,Segment_Home Office
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,0,0
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,1,0,0
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,0,1,0
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,1,0,0
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,1,0,0

por hacer:
* filtrar entre 100 dólares y 700 dólares 
* que la columna segment quede en valores numéricos 
* agrupar por categoría 
* cambiar nombre de columnas (todos los títulos en minúsculas)
* agrupar por descuentos 
* quitar o eliminar si hay NaN o no hay existencia de producto

1) Filtrando

In [92]:
dt_superstore.loc[(dt_superstore['Sales']>100) & (dt_superstore['Sales']<700), :]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
9,10,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,34.4700
13,14,CA-2016-161389,12/5/2016,12/10/2016,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3,0.2,132.5922
16,17,CA-2014-105893,11/11/2014,11/18/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.880,6,0.0,13.3176
19,20,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910,2911,CA-2015-118444,11/5/2015,11/9/2015,Standard Class,VD-21670,Valerie Dominguez,Consumer,United States,Coral Springs,...,33065,South,OFF-AP-10000576,Office Supplies,Appliances,"Belkin 325VA UPS Surge Protector, 6'",387.136,4,0.2,24.1960
2914,2915,CA-2015-134747,10/12/2015,10/17/2015,Second Class,DL-12925,Daniel Lacy,Consumer,United States,Noblesville,...,46060,Central,TEC-PH-10002890,Technology,Phones,AT&T 17929 Lendline Telephone,135.720,3,0.0,35.2872
2916,2917,CA-2015-134747,10/12/2015,10/17/2015,Second Class,DL-12925,Daniel Lacy,Consumer,United States,Noblesville,...,46060,Central,TEC-PH-10001750,Technology,Phones,Samsung Rugby III,263.960,4,0.0,71.2692
2921,2922,CA-2017-164329,1/30/2017,1/30/2017,Same Day,MM-17920,Michael Moore,Consumer,United States,San Francisco,...,94109,West,OFF-ST-10001511,Office Supplies,Storage,Space Solutions Commercial Steel Shelving,129.300,2,0.0,6.4650
2932,2933,CA-2015-168564,8/8/2015,8/8/2015,Same Day,TT-21220,Thomas Thornton,Consumer,United States,San Francisco,...,94109,West,FUR-CH-10000785,Furniture,Chairs,Global Ergonomic Managers Chair,144.784,1,0.2,10.8588

2) valores numericos columna segment

In [93]:
dummie=pd.get_dummies(data=dt_superstore, columns = ["Segment"])
dummie.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Segment_Consumer,Segment_Corporate,Segment_Home Office
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,0,0
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,1,0,0
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,0,1,0
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,1,0,0
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,1,0,0

3) Agrupar por categoria

In [100]:
dt_superstore.groupby('Category')[['Discount']].count()

                 Discount
Category
Furniture             615
Office Supplies      1776
Technology            542

4) cambiar nombre de columnas (todos los títulos en minúsculas)

In [110]:
dt_superstore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [118]:
columnas_min=[]
for i in dt_superstore:
    minuscula=i.lower()
    minuscula=minuscula.replace(" ","_")
    columnas_min.append(minuscula)
columnas_min

['row_id',
 'order_id',
 'order_date',
 'ship_date',
 'ship_mode',
 'customer_id',
 'customer_name',
 'segment',
 'country',
 'city',
 'state',
 'postal_code',
 'region',
 'product_id',
 'category',
 'sub-category',
 'product_name',
 'sales',
 'quantity',
 'discount',
 'profit']

In [119]:
dt_superstore.columns=columnas_min
dt_superstore.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

5) agrupar por descuentos

In [102]:
dt_superstore.groupby(['Region','Discount']).count()

                  Row ID  Order ID  Order Date  Ship Date  Ship Mode  \
Region  Discount
Central 0.00         265       265         265        265        265
        0.10           5         5           5          5          5
        0.20         228       228         228        228        228
        0.30          36        36          36         36         36
        0.32           6         6           6          6          6
        0.40           6         6           6          6          6
        0.50           8         8           8          8          8
        0.60          35        35          35         35         35
        0.80          75        75          75         75         75
East    0.00         450       450         450        450        450
        0.10          17        17          17         17         17
        0.20         285       285         285        285        285
        0.30          18        18          18         18         18
        0.40          62        62          62         62         62
        0.50           4         4           4          4          4
        0.70          56        56          56         56         56
South   0.00         240       240         240        240        240
        0.20         158       158         158        158        158
        0.40           2         2           2          2          2
        0.45           6         6           6          6          6
        0.50           6         6           6          6          6
        0.70          35        35          35         35         35
West    0.00         487       487         487        487        487
        0.15          16        16          16         16         16
        0.20         388       388         388        388        388
        0.50           6         6           6          6          6
        0.70          33        33          33         33         33

                  Customer ID  Customer Name  Segment  Country  City  State  \
Region  Discount
Central 0.00              265            265      265      265   265    265
        0.10                5              5        5        5     5      5
        0.20              228            228      228      228   228    228
        0.30               36             36       36       36    36     36
        0.32                6              6        6        6     6      6
        0.40                6              6        6        6     6      6
        0.50                8              8        8        8     8      8
        0.60               35             35       35       35    35     35
        0.80               75             75       75       75    75     75
East    0.00              450            450      450      450   450    450
        0.10               17             17       17       17    17     17
        0.20              285            285      285      285   285    285
        0.30               18             18       18       18    18     18
        0.40               62             62       62       62    62     62
        0.50                4              4        4        4     4      4
        0.70               56             56       56       56    56     56
South   0.00              240            240      240      240   240    240
        0.20              158            158      158      158   158    158
        0.40                2              2        2        2     2      2
        0.45                6              6        6        6     6      6
        0.50                6              6        6        6     6      6
        0.70               35             35       35       35    35     35
West    0.00              487            487      487      487   487    487
        0.15               16             16       16       16    16     16
        0.20              388            388      388      388   388    388
        0.50                6              6        6        6     6      6
        0.70               33             33       33       33    33     33

                  Postal Code  Product ID  Category  Sub-Category  \
Region  Discount
Central 0.00              265         265       265           265
        0.10                5           5         5             5
        0.20              228         228       228           228
        0.30               36          36        36            36
        0.32                6           6         6             6
        0.40                6           6         6             6
        0.50                8           8         8             8
        0.60               35          35        35            35
        0.80               75          75        75            75
East    0.00              450         450       450           450
        0.10               17          17        17            17
        0.20              285         285       285           285
        0.30               18          18        18            18
        0.40               62          62        62            62
        0.50                4           4         4             4
        0.70               56          56        56            56
South   0.00              240         240       240           240
        0.20              158         158       158           158
        0.40                2           2         2             2
        0.45                6           6         6             6
        0.50                6           6         6             6
        0.70               35          35        35            35
West    0.00              487         487       487           487
        0.15               16          16        16            16
        0.20              388         388       388           388
        0.50                6           6         6             6
        0.70               33          33        33            33

                  Product Name  Sales  Quantity  Profit
Region  Discount
Central 0.00               265    265       265     265
        0.10                 5      5         5       5
        0.20               228    228       228     228
        0.30                36     36        36      36
        0.32                 6      6         6       6
        0.40                 6      6         6       6
        0.50                 8      8         8       8
        0.60                35     35        35      35
        0.80                75     75        75      75
East    0.00               450    450       450     450
        0.10                17     17        17      17
        0.20               285    285       285     285
        0.30                18     18        18      18
        0.40                62     62        62      62
        0.50                 4      4         4       4
        0.70                56     56        56      56
South   0.00               240    240       240     240
        0.20               158    158       158     158
        0.40                 2      2         2       2
        0.45                 6      6         6       6
        0.50                 6      6         6       6
        0.70                35     35        35      35
West    0.00               487    487       487     487
        0.15                16     16        16      16
        0.20               388    388       388     388
        0.50                 6      6         6       6
        0.70                33     33        33      33

) quitando nan

In [104]:
dt_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2933 entries, 0 to 2932
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         2933 non-null   int64
 1   Order ID       2933 non-null   object
 2   Order Date     2933 non-null   object
 3   Ship Date      2933 non-null   object
 4   Ship Mode      2933 non-null   object
 5   Customer ID    2933 non-null   object
 6   Customer Name  2933 non-null   object
 7   Segment        2933 non-null   object
 8   Country        2933 non-null   object
 9   City           2933 non-null   object
 10  State          2933 non-null   object
 11  Postal Code    2933 non-null   int64
 12  Region         2933 non-null   object
 13  Product ID     2933 non-null   object
 14  Category       2933 non-null   object
 15  Sub-Category   2933 non-null   object
 16  Product Name   2933 non-null   object
 17  Sales          2933 non-null   float64
 18  Quantity       2933 non-null   int64
 19  Discount       2933 non-null   float64
 20  Profit         2933 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 481.3+ KB

organizando fechas

In [128]:
#cambiando formato de datos
dt_superstore['order_date'] = pd.to_datetime(dt_superstore['order_date'], format="%m/%d/%Y")
dt_superstore['ship_date'] = pd.to_datetime(dt_superstore['ship_date'], format="%m/%d/%Y")

In [129]:
dt_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2933 entries, 0 to 2932
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         2933 non-null   int64
 1   order_id       2933 non-null   object
 2   order_date     2933 non-null   datetime64[ns]
 3   ship_date      2933 non-null   datetime64[ns]
 4   ship_mode      2933 non-null   object
 5   customer_id    2933 non-null   object
 6   customer_name  2933 non-null   object
 7   segment        2933 non-null   object
 8   country        2933 non-null   object
 9   city           2933 non-null   object
 10  state          2933 non-null   object
 11  postal_code    2933 non-null   int64
 12  region         2933 non-null   object
 13  product_id     2933 non-null   object
 14  category       2933 non-null   object
 15  sub-category   2933 non-null   object
 16  product_name   2933 non-null   object
 17  sales          2933 non-null   float64
 18  quantity       2933 non-null   int64
 19  discount       2933 non-null   float64
 20  profit         2933 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 481.3+ KB

In [130]:
dt_superstore.sort_values(by='order_date')

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
741,742,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
739,740,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
740,741,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
1759,1760,CA-2014-141817,2014-01-05,2014-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840
593,594,CA-2014-135405,2014-01-09,2014-01-13,Standard Class,MS-17830,Melanie Seite,Consumer,United States,Laredo,...,78041,Central,TEC-AC-10001266,Technology,Accessories,Memorex Micro Travel Drive 8 GB,31.200,3,0.2,9.7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,646,CA-2017-126221,2017-12-30,2018-01-05,Standard Class,CC-12430,Chuck Clark,Home Office,United States,Columbus,...,47201,Central,OFF-AP-10002457,Office Supplies,Appliances,Eureka The Boss Plus 12-Amp Hard Box Upright V...,209.300,2,0.0,56.5110
1297,1298,CA-2017-115427,2017-12-30,2018-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,...,94533,West,OFF-BI-10004632,Office Supplies,Binders,GBC Binding covers,20.720,2,0.2,6.4750
1296,1297,CA-2017-115427,2017-12-30,2018-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,...,94533,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188
908,909,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,52.776,3,0.2,19.7910
907,908,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,TEC-PH-10004774,Technology,Phones,Gear Head AU3700S Headset,90.930,7,0.0,2.7279

In [108]:
df=pd.read_csv('/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/Sample - Superstore.csv',encoding='windows-1254') #se le agrega eso porque esta guardado en linux 
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

---

In [ ]:
code='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_2/Data/heart_2020_cleaned.csv'
df_heart