In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
archivo='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScience_Unilever/Semana_6/Data/kc_house_data.csv'
data=pd.read_csv(archivo)

In [4]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

no hay nulos
busqueda de duplicados

In [6]:
data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

no tiene duplicados

In [9]:
data['date'].unique()

array(['20141013T000000', '20141209T000000', '20150225T000000',
       '20150218T000000', '20140512T000000', '20140627T000000',
       '20150115T000000', '20150415T000000', '20150312T000000',
       '20150403T000000', '20140527T000000', '20140528T000000',
       '20141007T000000', '20150124T000000', '20140731T000000',
       '20140529T000000', '20141205T000000', '20150424T000000',
       '20140514T000000', '20140826T000000', '20140703T000000',
       '20140516T000000', '20141120T000000', '20141103T000000',
       '20140626T000000', '20141201T000000', '20140624T000000',
       '20150302T000000', '20141110T000000', '20141203T000000',
       '20140613T000000', '20141230T000000', '20150213T000000',
       '20140620T000000', '20140715T000000', '20140811T000000',
       '20140707T000000', '20141028T000000', '20140729T000000',
       '20140718T000000', '20150325T000000', '20140716T000000',
       '20150428T000000', '20150311T000000', '20140916T000000',
       '20150217T000000', '20141231T000000', '20150205T000000',
       '20150303T000000', '20140819T000000', '20150407T000000',
       '20140827T000000', '20150223T000000', '20141210T000000',
       '20140828T000000', '20141021T000000', '20141207T000000',
       '20140603T000000', '20140909T000000', '20141009T000000',
       '20140825T000000', '20140612T000000', '20140912T000000',
       '20150105T000000', '20140610T000000', '20140710T000000',
       '20150316T000000', '20141105T000000', '20150420T000000',
       '20140609T000000', '20150323T000000', '20141202T000000',
       '20141222T000000', '20150128T000000', '20140602T000000',
       '20141114T000000', '20140618T000000', '20140519T000000',
       '20140904T000000', '20140522T000000', '20150226T000000',
       '20140725T000000', '20141223T000000', '20140908T000000',
       '20150330T000000', '20140711T000000', '20140611T000000',
       '20141027T000000', '20141212T000000', '20140924T000000',
       '20150402T000000', '20140523T000000', '20140723T000000',
       '20150305T000000', '20150304T000000', '20141124T000000',
       '20141121T000000', '20140623T000000', '20150108T000000',
       '20150511T000000', '20150102T000000', '20141119T000000',
       '20150406T000000', '20141104T000000', '20140717T000000',
       '20150126T000000', '20140813T000000', '20140805T000000',
       '20140507T000000', '20140708T000000', '20150508T000000',
       '20150227T000000', '20140625T000000', '20140806T000000',
       '20141030T000000', '20140820T000000', '20150409T000000',
       '20150331T000000', '20150401T000000', '20140728T000000',
       '20140807T000000', '20141113T000000', '20141003T000000',
       '20150309T000000', '20140812T000000', '20141208T000000',
       '20150219T000000', '20150324T000000', '20140605T000000',
       '20140502T000000', '20150116T000000', '20140929T000000',
       '20150210T000000', '20140709T000000', '20140530T000000',
       '20141117T000000', '20150107T000000', '20150414T000000',
       '20140905T000000', '20140505T000000', '20150418T000000',
       '20140818T000000', '20140515T000000', '20141111T000000',
       '20150113T000000', '20141014T000000', '20141112T000000',
       '20140804T000000', '20140919T000000', '20141123T000000',
       '20150422T000000', '20150114T000000', '20150221T000000',
       '20141023T000000', '20140822T000000', '20140918T000000',
       '20140903T000000', '20140604T000000', '20150413T000000',
       '20140616T000000', '20140902T000000', '20150320T000000',
       '20140701T000000', '20141001T000000', '20150127T000000',
       '20150427T000000', '20150212T000000', '20150314T000000',
       '20140923T000000', '20140513T000000', '20150421T000000',
       '20141020T000000', '20150211T000000', '20140829T000000',
       '20141024T000000', '20141216T000000', '20140814T000000',
       '20150504T000000', '20150501T000000', '20141017T000000',
       '20140925T000000', '20150505T000000', '20150513T000000',
       '20140630T000000', '20150410T000000', '20150209T000000',
       '20140702T000000', '20150224T000000', '20141022T000000',
       '20141002T000000', '20140619T000000', '20150228T000000',
       '20150408T000000', '20141122T000000', '20140721T000000',
       '20150202T000000', '20150416T000000', '20140722T000000',
       '20141106T000000', '20141229T000000', '20140922T000000',
       '20141006T000000', '20140917T000000', '20150130T000000',
       '20150326T000000', '20150423T000000', '20141204T000000',
       '20140520T000000', '20150429T000000', '20150313T000000',
       '20150121T000000', '20140801T000000', '20150430T000000',
       '20150306T000000', '20150417T000000', '20140911T000000',
       '20150318T000000', '20140730T000000', '20141219T000000',
       '20140506T000000', '20150512T000000', '20140821T000000',
       '20150319T000000', '20150502T000000', '20150222T000000',
       '20141126T000000', '20141015T000000', '20150106T000000',
       '20140808T000000', '20140901T000000', '20140614T000000',
       '20150510T000000', '20140521T000000', '20140508T000000',
       '20141029T000000', '20150507T000000', '20140906T000000',
       '20141008T000000', '20150310T000000', '20141217T000000',
       '20141218T000000', '20150123T000000', '20141211T000000',
       '20140930T000000', '20150204T000000', '20150206T000000',
       '20140617T000000', '20150506T000000', '20140622T000000',
       '20140815T000000', '20141118T000000', '20140802T000000',
       '20141016T000000', '20140712T000000', '20140910T000000',
       '20140509T000000', '20141215T000000', '20141107T000000',
       '20140714T000000', '20140615T000000', '20140926T000000',
       '20140606T000000', '20150122T000000', '20150317T000000',
       '20141125T000000', '20141010T000000', '20141226T000000',
       '20150120T000000', '20150514T000000', '20150112T000000',
       '20140724T000000', '20150425T000000', '20150220T000000',
       '20140915T000000', '20140517T000000', '20150426T000000',
       '20150109T000000', '20150419T000000', '20140511T000000',
       '20140524T000000', '20150214T000000', '20150503T000000',
       '20140601T000000', '20141031T000000', '20150327T000000',
       '20140621T000000', '20141018T000000', '20141220T000000',
       '20150203T000000', '20150129T000000', '20140726T000000',
       '20140719T000000', '20141221T000000', '20140628T000000',
       '20140720T000000', '20150119T000000', '20141224T000000',
       '20140526T000000', '20140816T000000', '20140927T000000',
       '20140706T000000', '20141214T000000', '20141005T000000',
       '20150412T000000', '20141115T000000', '20141108T000000',
       '20141101T000000', '20140525T000000', '20140831T000000',
       '20140907T000000', '20150329T000000', '20141019T000000',
       '20140629T000000', '20140504T000000', '20150404T000000',
       '20141116T000000', '20150216T000000', '20140531T000000',
       '20141004T000000', '20140518T000000', '20141109T000000',
       '20150315T000000', '20150405T000000', '20140510T000000',
       '20150207T000000', '20140608T000000', '20141213T000000',
       '20140809T000000', '20150321T000000', '20141012T000000',
       '20150515T000000', '20140817T000000', '20140704T000000',
       '20140913T000000', '20150307T000000', '20150411T000000',
       '20140810T000000', '20141206T000000', '20150509T000000',
       '20140803T000000', '20140928T000000', '20140503T000000',
       '20140713T000000', '20140705T000000', '20141025T000000',
       '20141128T000000', '20150328T000000', '20150301T000000',
       '20140920T000000', '20141102T000000', '20150125T000000',
       '20140921T000000', '20150110T000000', '20140823T000000',
       '20141026T000000', '20141129T000000', '20140607T000000',
       '20150524T000000', '20150131T000000', '20141227T000000',
       '20150117T000000', '20140914T000000', '20150308T000000',
       '20140830T000000', '20150527T000000', '20150322T000000',
       '20150215T000000', '20141011T000000', '20150201T000000',
       '20141130T000000', '20140824T000000', '20140727T000000'],
      dtype=object)

In [10]:
new_date=[]
for i in data['date']:
    if "T000000" in i:
        i=i.replace("T000000","")
        i=pd.to_datetime(i)
        new_date.append(i)
data['Fecha']=new_date

In [12]:
data.drop(columns=['date'],inplace=True)

separando la data

In [13]:
X = data.drop(columns=['Fecha','price'])
y = data.price

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Bagging tree

In [15]:
from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor

In [22]:
bag_rgrs = BaggingRegressor(
    DecisionTreeRegressor(), n_estimators=300,
    max_samples=300, bootstrap=True
)

bag_rgrs.fit(X_train, y_train)
y_pred = bag_rgrs.predict(X_test)
print(y_pred)
print(y_test)
bag_rgrs.score(X_test, y_test)

[215923.07       339960.40666667 567945.46666667 ... 307306.88666667
 427100.22666667 417174.09333333]
1677     165050.0
3296     282000.0
2244     510000.0
9849     269000.0
12468    850000.0
           ...
9634     290000.0
12114    250000.0
339      245000.0
2608     450000.0
7025     378800.0
Name: price, Length: 6484, dtype: float64

0.7579722122063409

Con random forest

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [19]:
rndf_rgrs=RandomForestRegressor(n_estimators=300)
rndf_rgrs.fit(X_train, y_train)
y_pred = rndf_rgrs.predict(X_test)

rndf_rgrs.score(X_test, y_test)

0.8780295708113343

Claramente el numero de estimadores es unfactor clave en ambos algortimos, pero en los bagging regressor el numero de muestras tambien esextremadamente representativo en la precision del modelo